:root {
  --color: #3b3a39;
  --btn_hover: #c9c6c3;
  --success:#1ed11ed3;
  --danger:#d11e1ed3;
  --warning:#d17e1ed3;
  --info:#1e8ad1d3;
}


@import "~office-ui-fabric-core/src/sass/Fabric";
$color: var(--color);
body {
  background-image: url("/assets/iss034e0305141.jpg");

  font-family: $ms-font-family-west-european;
}

.app-toolbar {
  background: #000;
  color: #FFF;

  height: 55px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;

}

.search-bar {
  display: flex;
  height: 25px;
  background: $ms-color-gray140;
  align-items: center;
  border-radius: 2px;
  overflow: hidden;
  width: 300px;
  border: 1px solid transparent;

  position: relative;

  transition: border-color .3s;
}



.search-bar input{
  border: none;
  height: 100%;
  background: transparent;
  color: $ms-color-gray10;

  width: 100%;
  padding: 0 10px;
}


.search-bar input:focus{
  backdrop-filter: brightness(50%);
}

.search-bar-input-container {
  height: 100%;
  background: transparent;
  position: absolute;
  left: 40px;
  right: 0;

  transition: left .3s;
}
.search-bar .search-bar-icon {
  position: absolute;
  left:0;
  top:0;
  bottom: 0;
  width: 40px;
  text-align: center;
  line-height: 25px;
  transition: left .3s;
}

.toolbar-action{
  height: 100%;

  display: flex;
}

.toolbar-personna {

  position: relative;
}

.toolbar-personna-image {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  padding: 0;
  margin: 0;

  position: absolute;
  top: 9px;
  left: 9px
}


.toolbar-button {
  position: relative;
  display: inline-block;
  height: 55px;
  width: 55px;
  line-height: 55px;

  font-size: 20px;
  cursor: pointer;
  text-align: center;

  padding: 0;
  margin: 0;
}

.ringer-badge {
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 11px;
  font-weight: 600;
  font-family: inherit;
  background-color: $ms-color-sharedRed10;
  padding: 4px;
  height: 10px;
  min-width: 10px;
  line-height: 10px;
  text-align: center;
  border-radius: 50%;
}

.toolbar-button:hover {
  background-color: $ms-color-gray200;
}



.main-container {
  background: $ms-color-gray100;
  position: fixed;
  left: 250px;
  top: 55px;
  right:0;
  bottom: 0;

  overflow: auto;

  transition: left .2s;
}

.app-sidenav {
  width: 250px;
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  background: transparent;
  backdrop-filter: blur(10px)  saturate(50%);
  overflow: hidden;
  transition: width .2s;
}

.app-sidenav.icon-only {
  width: 45px;
}

.main-container.icon-only {
  left: 45px;
}

.sidenav-background {

  position: absolute;
  z-index: -1;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  background: #000;
  opacity: 0.7;
}

.sidenav-item {
  color: #FFF;
  display: block;
  width: 250px;
  box-sizing: border-box;
  height: 45px;
  cursor: pointer;
  border-left: 0 solid $ms-color-communicationShade10;

  transition: border-left-width .2s;
}

.sidenav-item:hover {
  backdrop-filter: saturate(50%) brightness(50%);

  border-left-width: 3px;
}

.sidenav-callapse {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  display: block;
}

.sidenav-item .flex-layout, .sidenav-callapse .flex-layout {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;

}

.sidenav-icon {
  display: inline-block;
  height: 45px;
  width: 45px;
  font-size: 22px;
  line-height: 45px;
  text-align:center;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
}

.sidenav-icon:hover {
  backdrop-filter: saturate(150%) brightness(20%) !important;
}

.sidebar-item-label {
  padding: 0 5px;
  transition: transform .3s;
}


.left-panel {
  width: 300px;
  max-width: 100%;
  background: $ms-color-gray210;

  position: fixed;
  top: 55px;
  right: -300px;
  bottom: 0;

  transition: right .3s;
}

.left-panel-visible {
  right: 0;
}

.panel-title {
  color: $ms-color-gray20;
  display: flex;
  height: 40px;
  justify-content: space-between;
  font-size: $ms-font-size-24;
  font-weight: 200;
  user-select: none;
}

.panel-title .panel-title-text {
  height: 40px;
  display: inline-block;
  line-height: 40px;
  padding-left: 10px;
}

.panel-close-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

.panel-close-button:hover{
  backdrop-filter: brightness(2);
}

.notification{
  background: rgba(253, 251, 251, 0.884);
  border-radius: 10px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 300px;
  height: 130px;
  transition: all 0.4s;
}
.notification .notification__header{
  display: flex;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  background-color: var(--warning);
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: inherit;
}

.notification .notification__title{
  padding: 0 10px;
}

.notification .notification__btn{
  cursor: pointer;
  border-radius: inherit;
  padding: 0 10px;
}

.notification .notification__btn:hover{
  background-color: var(--btn_hover);
}
.notification .notification__body{
  display: flex;
  padding: 0;
  height: 90px;
}

.notification .notification__img .img_noti{
  box-sizing: border-box;
  border-radius: 50%;
  padding: 3px;
  width: 90px;
  height: 90px;
}

.notification .notification__message{
  width: 100%;
  padding: 10px;
}

.notification.hidden{
  right: -300px;
}